<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Grid With Fixed Width Based on Screen Size</h1>
  <h4>Resize viewport to see it in action</h4>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        1 of 3
      </ion-col>
      <ion-col>
        2 of 3
      </ion-col>
      <ion-col>
        3 of 3
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        1 of 6
      </ion-col>
      <ion-col>
        2 of 6
      </ion-col>
      <ion-col>
        3 of 6
      </ion-col>
      <ion-col>
        4 of 6
      </ion-col>
      <ion-col>
        5 of 6
      </ion-col>
      <ion-col>
        6 of 6
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        1 of 12
      </ion-col>
      <ion-col>
        2 of 12
      </ion-col>
      <ion-col>
        3 of 12
      </ion-col>
      <ion-col>
        4 of 12
      </ion-col>
      <ion-col>
        5 of 12
      </ion-col>
      <ion-col>
        6 of 12
      </ion-col>
      <ion-col>
        7 of 12
      </ion-col>
      <ion-col>
        8 of 12
      </ion-col>
      <ion-col>
        9 of 12
      </ion-col>
      <ion-col>
        10 of 12
      </ion-col>
      <ion-col>
        11 of 12
      </ion-col>
      <ion-col>
        12 of 12
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>