<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-button (click)="onOpenMenu()">
        Open
      </ion-button> -->
    </ion-buttons>
    <ion-title>ORBIT {{appVersion}}</ion-title>
  </ion-toolbar>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }

    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }
  </style>
</ion-header>

<ion-content padding>
  <ion-segment>
  <ion-segment-button value="groceries" checked>Groceries</ion-segment-button>
  <ion-segment-button value="eatables">Eatables</ion-segment-button>
  <ion-segment-button value="personal" checked>Personal Supplies</ion-segment-button>
  <ion-segment-button value="household">Home Utilities</ion-segment-button>
  <ion-segment-button value="freshitems" checked>Fresh Items</ion-segment-button>
</ion-segment>
  <!--<ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all" checked>All Places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="!relevantPlaces || relevantPlaces.length <= 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <p>There are no bookable places right now, please come back later!</p>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <!--<ion-grid *ngIf="relevantPlaces.length > 0">
    <ion-row>
      <ion-col size="8" size-sm="4" offset-sm="0">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ relevantPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle
              >{{ relevantPlaces[0].price | currency }} /
              Night</ion-card-subtitle
            >
          </ion-card-header>
          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ relevantPlaces[0].description }}</p>
          </ion-card-content>
          <div>
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="[
                '/',
                'places',
                'tabs',
                'discover',
                relevantPlaces[0].id
              ]"
            >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>-->
      <!-- 2 
      <ion-col size="8" size-sm="4" offset-sm="0" >
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ relevantPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle
              >{{ relevantPlaces[0].price | currency }} /
              Night</ion-card-subtitle
            >
          </ion-card-header>
          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ relevantPlaces[0].description }}</p>
          </ion-card-content>
          <div>
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="[
                '/',
                'places',
                'tabs',
                'discover',
                relevantPlaces[0].id
              ]"
            >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>-->
      <!-- 3 
      <ion-col size="8" size-sm="4" offset-sm="0">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ relevantPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle
              >{{ relevantPlaces[0].price | currency }} /
              Night</ion-card-subtitle
            >
          </ion-card-header>
          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ relevantPlaces[0].description }}</p>
          </ion-card-content>
          <div>
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="[
                '/',
                'places',
                'tabs',
                'discover',
                relevantPlaces[0].id
              ]"
            >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>-->

<ion-grid>
  <ion-row>
    <ion-col size="8" size-sm="4" offset-sm="0" >
    <ion-card>
        <canvas #bubbleCanvas></canvas>
    </ion-card>
  </ion-col>
  <ion-col size="8" size-sm="4" offset-sm="0" >
    <ion-card>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </ion-col>
    <ion-col size="8" size-sm="4" offset-sm="0" >
      <ion-card>
        <ion-card-content>
          <canvas #hBarCanvas></canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  <ion-row>
    <ion-col size="8" size-sm="4" offset-sm="2" >
      <ion-card>
        <ion-card-content>
          <canvas #gBarCanvas></canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <!--<ion-col size="8" size-sm="4" offset-sm="2" >
      <ion-card>
        <ion-card-title>Today's Transaction</ion-card-title>
        <ion-card-content>
             <ion-grid>
                <ion-row>
                  <ion-col>
                    <div>Bill No.</div>
                  </ion-col>
                  <ion-col>
                    <div>Time</div>
                  </ion-col>
                  <ion-col>
                    <div>Counter</div>
                  </ion-col>
                  <ion-col>
                    <div>Total</div>
                  </ion-col>
                  <ion-col>
                    <div>Mode</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div>1001</div>
                  </ion-col>
                  <ion-col>
                    <div>08:40AM</div>
                  </ion-col>
                  <ion-col>
                    <div>2</div>
                  </ion-col>
                  <ion-col>
                    <div>450</div>
                  </ion-col>
                  <ion-col>
                    <div>CASH</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div>1001</div>
                  </ion-col>
                  <ion-col>
                    <div>06:00PM</div>
                  </ion-col>
                  <ion-col>
                    <div>1</div>
                  </ion-col>
                  <ion-col>
                    <div>4500</div>
                  </ion-col>
                  <ion-col>
                    <div>CASH</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div>1001</div>
                  </ion-col>
                  <ion-col>
                    <div>11:40AM</div>
                  </ion-col>
                  <ion-col>
                    <div>3</div>
                  </ion-col>
                  <ion-col>
                    <div>2003</div>
                  </ion-col>
                  <ion-col>
                    <div>CARD</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
          
        </ion-card-content>
      </ion-card>
    </ion-col>-->
  </ion-row>
  </ion-grid>
</ion-content>

