<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Invoices</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">

    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable
    (activate)="onActivate($event)" 
      class="material"
      [limit]="8" 
      [rows]="rows" 
      [rowHeight]="50" 
      [columns]="columns"
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="50" 
      [footerHeight]="50">
      <ngx-datatable-column *ngFor = "let m of columnNames" name="{{m}}" prop="{{m}}"></ngx-datatable-column>
    </ngx-datatable>

  </div>
</ion-content>