<div [hidden]="loginPage">
    <div id="fh5co-header">
      <div class="container">
        <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle">
          <i></i>
        </a>
        <div id="fh5co-logo">
          <a href="index.html">Piety App - Holy Event Planner 1.0</a>
        </div>
        <nav id="fh5co-main-nav">
          <ul>
            <li>
              <a href="#" data-nav-section="home">Home</a>
            </li>
            <li>
              <a href="#" data-nav-section="portfolio">Portfolio</a>
            </li>
            <li>
              <a href="#" data-nav-section="about">About</a>
            </li>
            <li>
              <a href="#" data-nav-section="contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  
  </div>
  
  <div>
    <div [hidden]="loginPage">
      <div class="fh5co-overlay-mobile"></div>
      <div id="fh5co-home" class="js-fullheight" data-section="home">
  
        <div class="flexslider">
  
          <div class="fh5co-overlay"></div>
          <div class="fh5co-text">
            <div class="container">
              <div class="text-center form-1">
                <!-- <h1 class="animate-box">We love to tell your story</h1> -->
  
  
                <p class="field">
                  <input type="text" name="login" placeholder="Username or email" [(ngModel)]="userName">
                  <i class="icon-user icon-large"></i>
                </p>
                <p class="field">
                  <input type="password" name="password" placeholder="Password" [(ngModel)]="userPassword">
                  <i class="icon-lock icon-large"></i>
                </p>
                <p class="field">
                   <!-- <select  name="loginType" id="loginType" [(ngModel)]="loginType" class="loginType"
                    <option  *ngFor="let value of getjsonVal" >{{value.PropValue}}-{{value.PropValueText}} </option>            
                    </select>  -->
                    <select name="loginType" id="loginType" class="loginType" [(ngModel)]="loginType">
                      <option>Admin</option>            
                      <option>Patron</option>            
                      <option>Priest</option>            
                      </select>
                    <!-- <ejs-dropdownlist id='ddlelement' #loginType  [dataSource]='loginTypeValue'  class="loginType"                                             
                    [fields]='typefields'></ejs-dropdownlist> -->
                  <i class="fa fa-file"></i>
                </p>
                <p class="field">
                  <a (click)="continueAsGuest()">Continue as guest</a>
                </p>
                <p class="submit">
                  <button type="submit" name="submit" (click)="login()">
                    <i class="icon-arrow-right icon-large"></i>
                  </button>
                </p>
              </div>
            </div>
          </div>
          <ul class="slides">
            <li style="background-image: url(../assets/images/slide_2.jpg);" data-stellar-background-ratio="0.5"></li>
            <li style="background-image: url(../assets/images/slide_1.jpg);" data-stellar-background-ratio="0.5"></li>
            <li style="background-image: url(../assets/images/slide_3.jpg);" data-stellar-background-ratio="0.5"></li>
          </ul>
  
        </div>
      </div>
    </div>
    <div class="hold-transition skin-blue sidebar-mini">
      <router-outlet></router-outlet>
    </div>
  
  </div>
  
  <div id="fh5co-footer" [hidden]="loginPage">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 animate-box">
          <div class="fh5co-footer-widget">
            <p>&copy; Fotografy Free HTML5 Template. All Rights Reserved.</p>
            <p>Designed by
              <a href="http://freehtml5.co/">FREEHTML5.co</a> Demo Images:
              <a href="http://unsplash.com/" target="_blank">Unsplash</a> &amp;
              <a href="http://pexels.com/" target="_blank">Pexels</a>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 animate-box">
          <div class="fh5co-footer-widget">
            <ul class="fh5co-social pull-right">
              <li>
                <a href="#">
                  <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-vine"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-behance"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-google"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-vimeo"></i>
                </a>
              </li>
            </ul>
            <div class="fh5co-footer-widget">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END fh5co-page -->
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.12
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights
    reserved.
  </footer>