<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="groceries">
      <ion-label>Groceries</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="eatables">
      <ion-label>Eatables</ion-label>
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="personal">
      <ion-label>Personal Supplies</ion-label>
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="household">
      <ion-label>Home Utilities</ion-label>
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="freshitems">
      <ion-label>Fresh Items</ion-label>
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
