<section class="historySection">
<div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header">
                <i class="fa fa-comments-o"></i>
                <h3 class="box-title">Events History</h3>
                <br/>
                <br/>
                <div class="col-sm-6">
                    <ejs-datepicker class="col-sm-3" id="Srch_FromDate" placeholder="Start Date"></ejs-datepicker>
                    <ejs-datepicker class="col-sm-3" id="Srch_ToDate" placeholder="End Date"></ejs-datepicker>
                    <button class='col-sm-2 e-btn' id="Srch_Btn" (click)="startSearch()">Search</button>
                </div>
            </div>
        <ejs-grid [dataSource]='data' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'>
            <e-columns>
                <e-column field='EventID' headerText='Event ID' width='60' textAlign='Right' isPrimaryKey='true' [validationRules]='eventidrules'></e-column>
                <e-column field='CustomerName' headerText='Guest Name' width='150' [validationRules]='guestidrules'></e-column>
                <e-column field='Paid' headerText='Paid' width='120' format='C2' textAlign='Right' editType='numericedit' [validationRules]='freightrules'></e-column>
                <e-column field='EventDate' headerText='Event Date' width='120' editType='datepickeredit' format='yMd' textAlign='Right'></e-column>
                <e-column field='Location' headerText='Venue Type' width='150' editType='dropdownedit' [edit]='editparams'></e-column>
            </e-columns>
        </ejs-grid>
    </div>
</div>
</section>