<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Invoice Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">

   <p>Invoice Details goes here</p>

  </div>
</ion-content>